<ng-container *ngIf="appState.tenant | async as tenant">
  <h1 [routerLink]="'/' + tenant.slug">{{ tenant.name }}</h1>
  <div *ngIf="tenant.phoneNumber || tenant.email">
    <a *ngIf="tenant.phoneNumber" [href]="'tel:' + tenant.phoneNumber">{{
      tenant.phoneNumber
    }}</a>
    <span *ngIf="tenant.phoneNumber && tenant.email"> - </span>
    <a *ngIf="tenant.email" [href]="'mailto:' + tenant.email">{{
      tenant.email
    }}</a>
  </div>
  <div>
    <h2>Wachtrij</h2>
  </div>
  <router-outlet></router-outlet>
</ng-container>
